$lineclr: rgb(209, 209, 207);
$first: calc(12% + 1px);
$second: calc(29% + 1px);
$third: calc(50% + 1px);
$fourth: calc(72% + 1px);
$fifth: calc(89% + 1px);
.gridimages {
  text-align: center;
  background-image: linear-gradient(90deg, transparent 12%, $lineclr $first , transparent 12%),
  linear-gradient(90deg, transparent 29%, #d1d1cf $second, transparent 29%), 
  linear-gradient(90deg, transparent 50%, #d1d1cf $third, transparent 50%),
  linear-gradient(90deg, transparent 72%, $lineclr $fourth , transparent 72%),
  linear-gradient(90deg, transparent 89%, $lineclr $fifth , transparent 89%);
  padding-bottom: 115px;
  &__container {

    display: grid;  
    grid-template-areas: "cell1 cell3 cell3 cell6" "cell2 cell3 cell3 cell7" "cell2 cell4 cell5 cell5";
    grid-template-columns: 1.1fr 1.1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%; 
    margin: 0;
  }

  &__heading {
    font-size: 2.5rem;
    padding:60px 20px 40px 20px;
    font-family: 'Raleway', sans-serif;
  }

  &__cell1 {
    grid-area: cell1;
  }
  
  &__cell2 {
    grid-area: cell2;
  }
  
  &__cell3 {
    grid-area: cell3;
  }
  
  &__cell4 {
    grid-area: cell4;
  }
  
  &__cell5 {
    grid-area: cell5;
  }
  
  &__cell6 {
    grid-area: cell6;
  }
  
  &__cell7 {
    grid-area: cell7;
  }

  &__link {
    background-color: $black;
    color: $white !important;
    font-size: .8rem;
    padding: 11px 118px;
    text-decoration: none !important;
  }

  &__darkline {
    border-top: 60px solid $black;
    margin-top: 0;
    width: 1px;
    
  }

  .container {
    height: 486px;
    margin-bottom: 90px;
    width: 830px;
  }

  @media (max-width: 767px) {
    padding-bottom: 65px;
    &__container {
      grid-template-areas: "cell2 cell4 " "cell2 cell7 " "cell5 cell5 " "cell3 cell3" "cell3 cell3" "cell1 cell6";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &__link {
      padding: 11px 24px;
    }

    &__heading {
      font-size: 2rem;
    }

    .container {
      height: fit-content;
      width: fit-content;
    }
  }       


}

  

  
  
  