.gridimages
    hr.gridimages__darkline
    h2.gridimages__heading Our realizations
    .container
        .gridimages__container
            .gridimages__cell1
                img(src="../../assets/images/gridimg1.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell2
                img(src="../../assets/images/gridimg2.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell3
                img(src="../../assets/images/gridimg3.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell4
                img(src="../../assets/images/gridimg6.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell5
                img(src="../../assets/images/gridimg7.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell6
                img(src="../../assets/images/gridimg4.jpg", alt="", style="width:100%;height:100%;")
            .gridimages__cell7
                img(src="../../assets/images/gridimg5.jpg", alt="", style="width:100%;height:100%;")
    a.gridimages__link(href="#") Check out more projects