.solid
    h1.solid__heading 
        b Solid and usable solution for
            br
            | home and business
            br
            | architecture
    ul.solid__list
        li.solid__item
            a(href="#")
                img.solid__img(src="../../assets/images/mouserptr1.png", alt="mouse pointer")
            p.solid__sub Ut ultricies imperdiet sodales
                br
                | Lorem ipsum dolor.
        li.solid__item
            a(href="#")
                img.solid__img(src="../../assets/images/hourglass.png", alt="Hour glass",style="height: 85px;")
            p.solid__sub Fusce ut velit laoreet, tempus
                br
                | arcu, molestie tortor.
        li.solid__item
            a(href="#")
                img.solid__img(src="../../assets/images/mouseptr2.png", alt="mouse pointer",style="height: 85px;")
            p.solid__sub Mauris maximus velit
                br
                | commodo. Lorem ipsum dolor.
    
    hr.solid__darkline
                