.solid
    h1.solid__heading Solid and usable solution for
        br
        | home and business
        br
        | architecture
    ul.solid__list
        li.solid__item
            img.solid__img(src="../../assets/images/mouseptr1.jpg", alt="mouse pointer")
            p.solid__sub Ut ultricies imperdiet sodales
                br
                | Lorem ipsum dolor.
        li.solid__item
            img.solid__img(src="../../assets/images/hourglass.jpg", alt="Hour glass",style="height: 85px;")
            p.solid__sub Fusce ut velit laoreet, tempus
                br
                | arcu, molestie tortor.
        li.solid__item
            img.solid__img(src="../../assets/images/mouseptr2.jpg", alt="mouse pointer",style="height: 85px;")
            p.solid__sub Mauris maximus velit
                br
                | commodo. Lorem ipsum dolor.