nav.navbar.navbar-expand-lg.navbar-dark.bg-dark#navbar
  a.navbar__logo(href='#') 
    span(style="font-size: 40px;") T
    span(style="font-size: 19px;") he
    br
    span(style="font-size: 51px;") A
    | rchitect
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse.navbar__collapse
    ul.navbar-nav.navbar__list
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Home 
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Projects
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Details
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Story
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Contact
      li.nav-item.navbar__item
        a.nav-link.navbar__link(href='#') Buy now
      