.intro
    .intro__content
        .intro__content1.intro__content--mobile-change
            h3.intro__name Benny
                br
                | Benny
            p.intro__para Duis dignissim mi ut laoreet mollis. Nunc id tellus finibus, eleifend mi vel, maximus justo. Lorem ipsum dolor sit amet es omnia. Duis dignissim mi ut laoreet mollis.

            //- img(src="../../assets/images/sign.png", alt="Sign")
        .intro__content2.intro__content--mobile-change
            img.intro__img(src="../../assets/images/blackman.JPg", alt="Sign")