$bg: rgb(236, 235, 233);

.footer {
  background-color: $bg;

  &__container {
    // display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  &__list {
    list-style-type: none;
    margin: 0 33px;
    max-width: 200px;
    padding: 100px 0;

  }

  &__heading {
    font-size: 1.1rem;
    padding-bottom: 20px;
  }

  &__content {
    font-size: .8rem;
  }

  &__copy {
    justify-content: center;
    width: 100%;
  }

  &__home {
    color: $black !important;
    font-size: 30px;
    font-weight: 200;
    padding-left: 215px;
    text-decoration: none !important;
  }

  &__list--padding--more {
    padding-left: 50px;
  }

  @media (max-width: 767px) {
    &__list {
      padding: 10px 0;
    }

    &__list--padding--more {
      padding-left: 0;
    }

    &__copy {
      text-align: center;
    }
  }
}
