.footer
    .footer__container.row
        ul.footer__list.col-2
            li
                h4.footer__heading Find us here
            li
                a(href="#") 
                    img(src="../../assets/images/facebook.webp", alt="facebook")
                a(href="#") 
                    img(src="../../assets/images/twitter.webp", alt="twitter")
                a(href="#") 
                    img(src="../../assets/images/linkedin.webp", alt="linkedin")
        ul.footer__list.col-2
            li
                h4.footer__heading Contact with us
            li
                p.footer__content Nullam viverra consectetuer
                    br
                    | quisque cursus et, porttitor risus.
                p.footer__content +61 (0) 3 8376 6284
                p.footer__content noreply@cursus.com
        ul.footer__list.col-2(style="padding-left: 50px;")
            li
                h4.footer__heading Localization
            li
                address.footer__content Nullam
                    br
                    | Level 13, 2 Elizabeth
                    br
                    | Victoria 3000
                    br
                    | Australia
    .row.footer__copy
        .col-5
            p.footer__content &#169; 2019 Nullam viverra consectet. All rights reserved
        .col-1
            a(href="#navbar").footer__home &#94;

    
