.footer
    .footer__container.row
        ul.footer__list.col-sm
            li
                h4.footer__heading Find us here
            li
                a(href="#") 
                    img(src="../../assets/images/fb.png", alt="facebook", style="width: 12px;")
                a(href="#") 
                    img(src="../../assets/images/google.png", alt="google+", style="width: 12px;")
                a(href="#") 
                    img(src="../../assets/images/twitter.png", alt="twitter", style="width: 12px;")
                a(href="#") 
                    img(src="../../assets/images/linkedin.png", alt="linkedin", style="width: 12px;")
        ul.footer__list.col-sm
            li
                h4.footer__heading Contact with us
            li
                p.footer__content Nullam viverra consectetuer quisque cursus et, porttitor risus.
                p.footer__content +61 (0) 3 8376 6284
                p.footer__content noreply@cursus.com
        ul.footer__list.col-sm.footer__list--padding--more
            li
                h4.footer__heading Localization
            li
                address.footer__content Nullam 
                    br
                    | Level 13, 2 Elizabeth 
                    br
                    | Victoria 3000 
                    br
                    | Australia
    .row.footer__copy
        .col-md-5
            p.footer__content &#169; 2019 Nullam viverra consectet. All rights reserved
        .col-md-1
            a.footer__home(href="#navbar") &#94;

    
