$bg: rgb(236, 235, 233);
$lineclr: rgb(209, 209, 207);
$first: calc(12% + 1px);
$second: calc(29% + 1px);
$third: calc(50% + 1px);
$fourth: calc(72% + 1px);
$fifth: calc(89% + 1px);

.footer {
  background-color: $bg;
  background-image: linear-gradient(90deg, transparent 12%, $lineclr $first , transparent 12%),
  linear-gradient(90deg, transparent 29%, #d1d1cf $second, transparent 29%), 
  linear-gradient(90deg, transparent 50%, #d1d1cf $third, transparent 50%),
  linear-gradient(90deg, transparent 72%, $lineclr $fourth , transparent 72%),
  linear-gradient(90deg, transparent 89%, $lineclr $fifth , transparent 89%);

  &__container {
    // display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  &__list {
    list-style-type: none;
    margin: 0 33px;
    max-width: 200px;
    padding: 100px 0;

  }

  &__heading {
    font-size: 1.1rem;
    padding-bottom: 20px;
  }

  &__content {
    font-size: .8rem;
    line-height: 1.7;
  }

  &__copy {
    justify-content: center;
    width: 100%;
  }

  &__home {
    color: $black !important;
    font-size: 45px;
    font-weight: 200;
    padding-left: 160px;
    text-decoration: none !important;
  }

  &__link {
    text-decoration: none !important;
    width: 12px;
  }

  &__list--padding--more {
    padding-left: 50px;
  }

  @media (max-width: 767px) {
    &__list {
      padding: 10px 0;
    }

    &__list--padding--more {
      padding-left: 0;
    }

    &__home {
      padding-left: 0;
    }

    &__copy {
      text-align: center;
    }
  }
}
