.talkabout {
    height: 500px;
    &__info {
        background-image: radial-gradient(rgb(173, 169, 169) 5%, rgb(114,114,114) 15%);
        background-position: 0 0;
        background-size: 25px 25px;
    }
    &__imgcontent{
        padding: 0;
    }
    &__heading{
        color: #fff;
        width: fit-content;
        margin: auto;
        padding-top: 136px;
    }
    &__link{
        color: #fff!important;
    }
}