.talkabout {
  height: 500px;
  &__info {
    background-image: radial-gradient(rgb(140, 139, 137) 5%, rgb(105, 104, 102) 15%);
    background-position: 0 0;
    background-size: 25px 25px;
  }
  
  &__imgcontent {
    padding: 0;
  }

  &__con {
    margin: auto;
    width: fit-content; 
  }

  &__heading {
    font-family: 'Raleway', sans-serif;
    color: $white;
    font-weight: 640;
    padding-top: 136px;
  }

  &__link {
    color: $white !important;
    font-size: .8rem;
    font-weight: 500;
    line-height: 10;

  }
  @media (max-width: 1360px) {
    height: auto;
  }

  @media (max-width: 600px) {
    &__info {
      height: 300px;
    }

    &__heading {
      padding-top: 60px;
    }
  }
  @media (min-width: 1700px) {
    height: auto;
  }

}
