.talkabout
    .row(style="height:inherit;width: 100%;margin: 0;")
        .talkabout__info.col-lg-6
            .talkabout__con
                h2.talkabout__heading Let's sit down
                    br
                    | and talk about
                    br
                    | your vision
                a.talkabout__link(href="#") Contact with us
            
        .col-lg-6.talkabout__imgcontent
            img(src="../../assets/images/container.JPG", alt="lets sit and talk",style="width:100%;height: 90%;")