html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description",content="Get an education in college planning and saving with information and tips to help fund your child’s future goals. ")
        <link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">
        block title
            title Home Layout
    body
        block bodyContent
            some content