extends ../../layouts/homeLayout.pug

block title
    title Component 1 page

block bodyContent
    include ../../components/navbar/navbar.pug
    include ../../components/slider/slider.pug
    include ../../components/intro/intro.pug
    include ../../components/solidusable/solidusable.pug
    include ../../components/gridimages/gridimages.pug
    include ../../components/videomodal/videomodal.pug
    include ../../components/talkabout/talkabout.pug
    include ../../components/footer/footer.pug
