.slide {
  &__indicators {
    bottom: 6vw;
    left: 21vw;
    margin: 0;
    margin-left: 2%;
    margin-right: 0;
    position: absolute;
    width: fit-content;
  }

  &__indicatorslist {
    background-color: transparent !important;
    border: 0 !important;
    height: 40px !important;
    opacity: 1 !important;
    text-indent: 0 !important;
    width: 65px !important;
  }

  &__indicatorslink {
    color: $white !important;
    font-size: 19px;
    font-style: italic;
    padding-bottom: 5px;
    text-decoration: none !important;
  }

  .active {
    .slide__indicatorslink {
      border-bottom: 2px solid $white;
    }
  }
  &__item {
    max-height: 700px;
  }

  &__caption {
    bottom: 21vw;
    color: $white;
    font-size: 3.5em;
    font-weight: 650;
    left: 21vw;
    position: absolute;
  }

  &__portfolio {
    bottom: 7vw;
    font-size: 19px;
    position: absolute;
    right: 21vw;
  }
  
  &__underline {
    border-top: 2px solid $white;
    position: absolute;
    right: -2px;
    top: 16px;
    width: 87px;
  }

  &__cline {
    border-bottom: 2px solid $white;
    bottom: 8vw;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    width: 150px;
    
  }

  @media (max-width: 1100px) {
    &__cline {
      display: none;
    }
  }

  @media (max-width: 1250px) {
    &__caption {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 1860px) {
    &__caption {
      top: 8vw;
    }

  }

  @media (max-width: 767px) {
    &__caption {
      font-size: 1.5rem;
      left: 7vw;
      top: 15vw;
    }

    &__underline {
      display: none;
    }

    &__indicators {
      background-color: $black;
      left: 0;
      margin-left: 0;
      position: relative;
      text-align: center;
      top: 0;
      width: 100%;
      
    }

    &__portfolio {
      font-size: .8rem;
      left: 7vw;
    }
  }
}
