$bg: rgb(236, 235, 233);
.videomodal {
  background-color: $bg;

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 60px;
  }

  &__playbtn {
    border: 2px solid;
    border-radius: 50%;
    font-size: 2rem;
    padding: 5px 13px;

  }

  &__btn {
    background: none;
    border: 0;
  }

  &__item--padding-less {
    padding-left: 20px !important;
    padding-right: 0; 
  }

  &__para {
    font-size: .8rem;
  }

  @media (max-width: 855px ){
    &__item {
      padding: 30px;
    }
  }

  @media (max-width: 767px) {
    text-align: center;
    &__list {
      display: block;
    }
  }
}
