$bg: rgb(236, 235, 233);
$lineclr: rgb(209, 209, 207);
$first: calc(12% + 1px);
$second: calc(29% + 1px);
$third: calc(50% + 1px);
$fourth: calc(72% + 1px);
$fifth: calc(89% + 1px);
.videomodal {
  background-color: $bg;
  background-image: linear-gradient(90deg, transparent 12%, $lineclr $first , transparent 12%),
  linear-gradient(90deg, transparent 29%, #d1d1cf $second, transparent 29%), 
  linear-gradient(90deg, transparent 50%, #d1d1cf $third, transparent 50%),
  linear-gradient(90deg, transparent 72%, $lineclr $fourth , transparent 72%),
  linear-gradient(90deg, transparent 89%, $lineclr $fifth , transparent 89%);

  &__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 60px;
  }

  &__playbtn {
    border: 2px solid;
    border-radius: 50%;
    font-size: 2rem;
    padding: 5px 13px;

  }

  &__btn {
    background: none;
    border: 0;
    outline: none;
  }

  &__item--padding-less {
    padding-left: 20px !important;
    padding-right: 0; 
  }

  &__para {
    font-size: .8rem;
  }

  @media (max-width: 855px ){
    &__item {
      padding: 30px;
    }
  }

  @media (max-width: 767px) {
    text-align: center;
    &__list {
      display: block;
    }
  }
}
